*
{  
    font-family: "Jost", sans-serif !important;
}
.container-fluid
{
        background-color: #61ce70;
}
.dropdown-menu
{
        background-color: #61ce70 !important;
}
.card
{
    border: 0cm !important;
    border-radius: 0% !important;
    /* background-color: red !important; */
}
.nav-link:hover,.dropdown-item:hover
{
    color: #d8273b !important;
}